<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Unit-Test-Case-Example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D38AA9EC1B96F50500AE1FFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D38AAA051B96F50500AE1FFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D38AAA101B96F50500AE1FFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
