<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swift-Project-4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D3476D721B9EA3FD0062C6D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3476D861B9EA3FE0062C6D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3476D911B9EA3FE0062C6D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
